In [38]:
import sys
sys.path.append("..")

In [39]:
from datasets import *

SAT_df=get_SATScores()

In [44]:
SAT_df.shape

(478, 6)

In [45]:
SAT_df = SAT_df[SAT_df.num_of_sat_test_takers != 's']
#SAT_df = SAT_df[SAT_df.sat_critical_reading_avg_score != 's']
#SAT_df = SAT_df[SAT_df.sat_math_avg_score != 's']
#SAT_df = SAT_df[SAT_df.sat_writing_avg_score != 's']

In [63]:
SAT_df=SAT_df.reset_index()

In [113]:
SAT_df.tail(110)

,index,dbn,num_of_sat_test_takers,sat_critical_reading_avg_score,sat_math_avg_score,sat_writing_avg_score,school_name
311,352,21K348,39,388,398,378,HIGH SCHOOL OF SPORTS MANAGEMENT
312,353,21K410,475,396,437,393,ABRAHAM LINCOLN HIGH SCHOOL
313,356,21K525,727,468,496,467,EDWARD R. MURROW HIGH SCHOOL
314,357,21K540,448,404,468,390,JOHN DEWEY HIGH SCHOOL
315,358,21K559,40,384,375,365,LIFE ACADEMY HIGH SCHOOL FOR FILM AND MUSIC
316,359,21K572,40,353,370,356,EXPEDITIONARY LEARNING SCHOOL FOR COMMUNITY LE...
317,360,21K620,95,394,414,376,WILLIAM E. GRADY CAREER AND TECHNICAL EDUCATIO...
318,361,21K690,119,429,449,435,BROOKLYN STUDIO SECONDARY SCHOOL
319,362,21K728,10,411,369,373,LIBERATION DIPLOMA PLUS
320,363,22K405,824,478,519,476,MIDWOOD HIGH SCHOOL
321,364,22K425,518,436,475,439,JAMES MADISON HIGH SCHOOL
322,365,22K495,236,383,392,370,SHEEPSHEAD BAY HIGH SCHOOL
323,366,22K535,259,524,561,542,LEON M. GOLDSTEIN HIGH SCHOOL FOR THE SCIENCES
324,367,22K555,131,456,456,440,BROOKLYN COLLEGE ACADEMY
325,368,23K493,60,389,409,387,BROOKLYN COLLEGIATE: A COLLEGE BOARD SCHOOL
326,369,23K514,55,361,371,359,FREDERICK DOUGLASS ACADEMY VII HIGH SCHOOL
327,370,23K643,11,349,338,331,BROOKLYN DEMOCRACY ACADEMY
328,371,23K646,7,311,371,311,ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL
329,372,23K647,17,350,346,332,METROPOLITAN DIPLOMA PLUS HIGH SCHOOL
330,373,23K697,69,392,416,388,TEACHERS PREPARATORY HIGH SCHOOL
331,374,24Q264,89,405,454,421,ACADEMY OF FINANCE AND ENTERPRISE
332,375,24Q267,39,406,413,400,HIGH SCHOOL OF APPLIED COMMUNICATION
333,376,24Q293,69,404,429,407,CIVIC LEADERSHIP ACADEMY
334,377,24Q296,55,317,323,311,PAN AMERICAN INTERNATIONAL HIGH SCHOOL
335,378,24Q299,155,545,568,550,BARD HIGH SCHOOL EARLY COLLEGE II
336,379,24Q455,320,383,440,380,NEWTOWN HIGH SCHOOL
337,381,24Q485,241,395,420,396,GROVER CLEVELAND HIGH SCHOOL
338,382,24Q520,58,399,393,385,MIDDLE COLLEGE HIGH SCHOOL AT LAGUARDIA COMMUN...
339,383,24Q530,69,326,409,329,INTERNATIONAL HIGH SCHOOL AT LAGUARDIA COMMUNI...
340,384,24Q550,138,391,403,380,HIGH SCHOOL FOR ARTS AND BUSINESS
...,...,...,...,...,...,...,...
391,441,30Q301,98,410,440,405,ACADEMY FOR CAREERS IN TELEVISION AND FILM
392,442,30Q445,395,414,449,412,WILLIAM CULLEN BRYANT HIGH SCHOOL
393,443,30Q450,392,403,420,395,LONG ISLAND CITY HIGH SCHOOL
394,444,30Q501,174,504,496,494,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL
395,445,30Q502,148,407,434,398,INFORMATION TECHNOLOGY HIGH SCHOOL
396,446,30Q555,143,323,475,329,NEWCOMERS HIGH SCHOOL
397,447,30Q575,135,487,492,491,ACADEMY OF AMERICAN STUDIES
398,448,30Q580,61,524,568,544,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION
399,449,31R047,137,452,451,450,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES
400,450,31R064,61,398,412,385,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL
401,451,31R080,107,472,488,466,THE MICHAEL J. PETRIDES SCHOOL
402,452,31R440,391,424,437,416,NEW DORP HIGH SCHOOL
403,453,31R445,271,424,438,417,PORT RICHMOND HIGH SCHOOL
404,454,31R450,375,437,435,429,CURTIS HIGH SCHOOL
405,455,31R455,807,462,486,470,TOTTENVILLE HIGH SCHOOL
406,456,31R460,535,455,474,459,SUSAN E. WAGNER HIGH SCHOOL
407,457,31R470,10,466,455,414,CONCORD HIGH SCHOOL
408,458,31R600,94,416,422,397,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...
409,459,31R605,227,635,682,636,STATEN ISLAND TECHNICAL HIGH SCHOOL
410,460,31R607,10,405,375,370,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS
411,461,32K403,50,380,366,352,ACADEMY FOR ENVIRONMENTAL LEADERSHIP
412,462,32K545,88,384,409,361,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK
413,463,32K549,75,348,353,334,BUSHWICK SCHOOL FOR SOCIAL JUSTICE
414,464,32K552,67,342,364,354,ACADEMY OF URBAN PLANNING
415,465,32K554,39,428,465,422,ALL CITY LEADERSHIP SECONDARY SCHOOL
416,466,32K556,23,347,358,350,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...
417,467,32K564,24,359,317,358,BUSHWICK COMMUNITY HIGH SCHOOL
418,471,75Q811,32,429,444,433,P.S. Q811
419,476,79Q950,8,496,400,426,GED PLUS s CITYWIDE
420,477,79X490,9,367,370,360,PHOENIX ACADEMY

In [67]:
SAT_df.shape

421

In [99]:
def getSATbyDistrict():
    district= 1
    total=0
    r=0
    m=0
    w=0
    count=0
    SAT_by_district=[]
    for i in range(0,len(SAT_df.index)):
        # first two digits of dbn are districts
        district_data=int(SAT_df.loc[i].dbn[:2])
        total_sat_takers=int(SAT_df.loc[i].num_of_sat_test_takers)
        reading=int(SAT_df.loc[i].sat_critical_reading_avg_score)
        math=int(SAT_df.loc[i].sat_math_avg_score)
        writing=int(SAT_df.loc[i].sat_writing_avg_score)
        
        if(district_data==district):
            total+=total_sat_takers
            r+=reading
            m+=math
            w+=writing
            count+=1
        
        # this is the point where next district starts.    
        else:
            r_avg=r/count
            m_avg=m/count
            w_avg=w/count

            SAT_by_district.append([district , total, r_avg, m_avg, w_avg, r_avg + m_avg + w_avg])

            district+=1
            count=1 
            total=total_sat_takers
            r=reading
            m=math
            w=writing
        if(district_data==75):
            break
    return SAT_by_district

In [115]:
alist=getSATbyDistrict()
alist

[[1,
  660,
  423.77777777777777,
  468.44444444444446,
  413.55555555555554,
  1305.7777777777778],
 [2,
  6175,
  424.0689655172414,
  441.3448275862069,
  419.44827586206895,
  1284.8620689655172],
 [3, 1414, 424.84615384615387, 426.0, 417.0769230769231, 1267.923076923077],
 [4,
  696,
  393.14285714285717,
  405.2857142857143,
  392.7142857142857,
  1191.142857142857],
 [5,
  634,
  407.3333333333333,
  409.6666666666667,
  401.22222222222223,
  1218.2222222222222],
 [6, 733, 381.0, 394.3, 376.7, 1152.0],
 [7,
  845,
  378.06666666666666,
  381.73333333333335,
  372.46666666666664,
  1132.2666666666667],
 [8, 1004, 382.46666666666664, 381.46666666666664, 376.6, 1140.5333333333333],
 [9,
  1160,
  372.4761904761905,
  379.57142857142856,
  372.8095238095238,
  1124.857142857143],
 [10,
  2744,
  395.38461538461536,
  409.6923076923077,
  390.8076923076923,
  1195.8846153846155],
 [11,
  1267,
  387.47058823529414,
  391.8235294117647,
  378.6470588235294,
  1157.9411764705883],
 [12,
  591,
  362.06666666666666,
  370.06666666666666,
  355.53333333333336,
  1087.6666666666667],
 [13, 2192, 411.875, 414.5, 402.625, 1229.0],
 [14, 1095, 394.7142857142857, 393.7142857142857, 384.0, 1172.4285714285716],
 [15,
  644,
  391.54545454545456,
  394.90909090909093,
  382.3636363636364,
  1168.818181818182],
 [16, 233, 363.0, 367.25, 357.25, 1087.5],
 [17,
  1253,
  384.94444444444446,
  388.3888888888889,
  373.55555555555554,
  1146.888888888889],
 [18,
  549,
  378.7142857142857,
  374.2142857142857,
  370.35714285714283,
  1123.2857142857142],
 [19,
  758,
  367.0833333333333,
  377.5833333333333,
  359.1666666666667,
  1103.8333333333333],
 [20, 1791, 393.0, 477.2, 385.0, 1255.2],
 [21,
  2101,
  395.90909090909093,
  417.1818181818182,
  386.8181818181818,
  1199.909090909091],
 [22, 1968, 455.4, 480.6, 453.4, 1389.4],
 [23,
  219,
  358.6666666666667,
  375.1666666666667,
  351.3333333333333,
  1085.1666666666667],
 [24, 1864, 405.84615384615387, 434.0, 402.15384615384613, 1242.0],
 [25, 1540, 423.0, 458.54545454545456, 418.09090909090907, 1299.6363636363635],
 [26, 3039, 445.2, 487.6, 444.8, 1377.6],
 [27,
  1603,
  405.6363636363636,
  419.8181818181818,
  390.6363636363636,
  1216.090909090909],
 [28, 2197, 442.54545454545456, 463.1818181818182, 431.0, 1336.7272727272727],
 [29,
  490,
  391.77777777777777,
  396.3333333333333,
  381.1111111111111,
  1169.2222222222222],
 [30, 1546, 434.0, 471.75, 433.5, 1339.25],
 [31,
  3025,
  453.8333333333333,
  462.9166666666667,
  442.4166666666667,
  1359.1666666666667],
 [32, 366, 369.7142857142857, 376.0, 361.57142857142856, 1107.2857142857142]]

In [102]:
from operator import itemgetter

In [105]:
sorted_alist=sorted(alist, key=itemgetter(5))

In [108]:
sorted_alist
print('District',sorted_alist[0][0],'has the  worst average SAT scores of ',sorted_alist[0][-1])
print('District',sorted_alist[-1][0],'has the  best average SAT scores of ',sorted_alist[-1][-1])

District 23 has the  worst average SAT scores of  1085.1666666666667
District 22 has the  best average SAT scores of  1389.4